/* Set a global font family */
body {
    font-family: 'Helvetica', sans-serif;
    background: #ffffff;
    color: #000000;
    padding: 0;
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 30px;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for background and text color */
}

/* Header (h1) scaling with vw and clamp */
h1 {
    font-size: clamp(2rem, 8vw, 2rem);
    font-weight: 50;
    line-height: 1;
    margin: 0 0 0 0;
}

h2 {
    font-size: clamp(1.5rem, 4vw, 1.5rem);
    font-weight: 50;
    line-height: 1;
    margin: 0 0 0 0;
}

/* Directed and Details text with IBM Plex Mono font */
.directed,
.details {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300; /* or 400, or whatever you loaded */
}

/* Header Section */
header {
    margin-bottom: 30px;
}

header h1 {
    font-weight: 50;
    line-height: 1.2;
    margin: 0 0 0 0;
}

/* Film-info Section */
.film-info {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 50;
}

/* Film-text and Paragraph styling */
.film-text h1 {
    margin-bottom: 20px;
}

.film-text p {
    font-size: clamp(1.5rem, 4vw, 1.5rem);
    line-height: 1.2;
    margin: 0;
}

/* Film Images Section */
.film-images {
    margin-top: 20px;
}

.film-images img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Light/Dark Mode Toggle */
.toggle-container {
    position: absolute;
    top: 25px;
    right: 30px;
    display: flex;
    align-items: center;
}

.mode-toggle {
    display: none;
}

.toggle-label {
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-label::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
}

.mode-toggle:checked + .toggle-label {
    background-color: #333;
}

.mode-toggle:checked + .toggle-label::before {
    transform: translateX(20px);
}

/* Dark Mode Styles */
body.dark-mode {
    background: #000000;
    color: #ffffff;
}

body.dark-mode .film-text h2,
body.dark-mode .film-text p {
    color: #ffffff;
}

body.dark-mode .toggle-label {
    background-color: #333;
}

body.dark-mode .toggle-label::before {
    background-color: #fff;
}

body.dark-mode .film-images img {
    opacity: 0.8;
    transition: opacity 0.3s ease;
}
